.container-fluid {
  background-color: lightgreen;
  height: 100vh;
}

.listButton {
  background-color: orange;
  color: white;
  border: 2px solid orange;
  border-radius: 10%;
}

.listButton:hover {
  background-color: black;
}

.itemData {
  background-color: white;
  border: 2px solid black;
}

.itemData button {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}

.itemData button:hover {
  background-color: black;
}